/* Estilos para o cabeçalho */
header {
  background-color: grey;
  color: red;
  padding: 20px;
}

/* Estilos para o título principal */
h1 {
  margin: 0;
}

/* Estilos para o título secundário */
h2 {
  color: blue; /* cor para o título */
}

/* Estilos para o subtítulo */
h3 {
  color: blue;
}

/* Estilos para a lista ordenada */
ol {
  list-style-type: decimal; /* tipo de lista */
}

/* Estilos para as imagens */
.image {
  width: 50%;
  height: auto;
}

/* Estilos para o container */
.container {
  border: 1px solid black; /* adicione uma borda para fins de demonstração */
  padding: 10px; /* adicione algum preenchimento ao container */
}

/* Estilos para o título do container */
.title {
  color: blue; /* defina a cor do título como azul */
}

/* Estilos para o rodapé */
#footer {
  background-color: gray;
  color: blue;
  padding: 10px;
}

/* Estilos para o parágrafo dentro do rodapé */
#footer p {
  margin: 0;
}

/* Estilos para o logo */
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 400px;
  width: auto;
}

/* Estilos para o retângulo */
.rectangle {
  height: 100%;
  position: relative;
  animation-duration: 1s;
  animation-name: move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Estilos para o primeiro e o quinto retângulo */
.rectangle:nth-child(1),
.rectangle:nth-child(5) {
  width: 15%;
  background-color: blue;
  border-radius: 10px;
}

/* Estilos para o segundo retângulo */
.rectangle:nth-child(2) {
  width: 15%;
  height: 80%;
  background-color: red;
  height: 90%;
  border-radius: 10px;
  animation-delay: 0.5s;
}

/* Estilos para o quarto retângulo */
.rectangle:nth-child(4) {
  width: 15%;
  height: 80%;
  background-color: green;
  height: 90%;
  border-radius: 10px;
  animation-delay: 0.5s;
}

/* Estilos para o terceiro retângulo */
.rectangle:nth-child(3) {
  width: 15%;
  height: 80%;
  background-color: yellow;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

/* Animação para o retângulo */
@keyframes move {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(15px);
  }
}
